body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    color: #464646;
    background-color: white;   
}

a {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    text-decoration: none;
    color: inherit; 
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.layout-positioner {
   
    max-width: 1040px;
    max-height: 300px;
    margin: 40px auto;
    padding-left: 60px;
    padding-right: 60px;
}

header .layout-positioner { 
    background-color: #f7e296;
}

.logo {
    position: relative;
    top: -18px;
}

.top li {
    float: right;
    margin-left: 40px;
   
}

.top li a {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0.01pt;
}

.top li:first-child {
    float: left;
    margin-left: 0;
    background-image: url("img/search.png");
    /* ПОЧЕМУ НЕ ВСТАВЛЯЕТСЯ КАРТИНКА ФОНОМ*/
}

.top li:last-child {
    color: red;
    margin-right: 200px;
    /* Как выровнять ? */
}

.top input {
    background: none;
    border: none;
    color: rgba(0,0,0,0.3);  
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0.01pt;  
}

.top img {
    margin-right: 10px;
}

header nav {
    margin-top: 40px;
}

header nav ul li {
    float: right;
    margin-left: 40px;
}

header nav li:first-child {
    float: left;
    margin-left: 0;   
}

header nav a {
    text-transform: uppercase;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2pt;
}

.hidden-menu { 
    visibility: hidden;
    z-index: 10;
   display: table;
   }

.hidden-menu a {
    text-transform: none;
    font-size: 15px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    letter-spacing: 0.01pt;
    line-height: 36px;
    display: table-cell;
}

header nav ul li:hover .hidden-menu {
    visibility: visible;
}

.header rect { 
    position: absolute;
    z-index: 5;
}

font {
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
color: rgba(0,0,0,0.3);
}

.product-karusel {
    width: 300%;


}
.product-karusel div {
    float: left;
}
.slider-inner {
    overflow: hidden;
}