@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "gilroy";

  src: local("gilroylight"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "gilroy";

  src: local("gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: "open_sans";

  src: local("open_sanslight"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff2") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "open_sans";

  src: local("open_sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.014em;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

.link {
  position: relative;
  z-index: 0;

  display: inline-block;
  width: 44%;
  padding: 10px 0;

  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.link::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 18.286%;

  vertical-align: middle;

  background-color: rgb(240, 197, 46);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: height 0.3s;
       -o-transition: height 0.3s;
          transition: height 0.3s;
}

.link:hover::before,
.link:focus::before,
.link:active::before {
  height: 100%;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
}



.header-navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  min-height: 300px;
  margin: 40px auto 0;
  padding: 0 60px;
  padding-top: 1px;

  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;

  background-color: rgb(247, 226, 150);
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 18px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.search-navigation {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 40px;
}

.search-navigation input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-navigation:hover input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-navigation input[type="search"] {
  width: 360px;
  padding-left: 40px;

  color: rgba(0, 0, 0, 0.3);

  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-navigation input[type="search"]:hover {
  color: rgba(0, 0, 0, 0.6);

  outline: none;
}

.search-navigation input[type="search"]:focus {
  color: rgb(0, 0, 0);

  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
}

.search-navigation::before {
  content: " ";
  position: absolute;
  top: 16px;
  left: 2px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
}

.search-navigation button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  min-height: 49px;

  word-wrap: break-word;

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  opacity: 0;

  pointer-events: none;
}

.search-navigation button:focus {
  opacity: 1;

  pointer-events: auto;
}

.search-navigation input:focus + button {
  opacity: 1;

  pointer-events: auto;
}

.search-navigation button:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
}

.search-navigation button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(0, 0, 0);
}

.first-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 27px;
}

.header-user-navigation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.header-user-navigation,
.header-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-user-navigation li:not(:first-child) {
  margin-left: 41px;
}

.header-user-navigation .login-out {
  position: relative;
  left: -25px;

  opacity: 0.3;
}

.header-user-navigation .login-out:hover,
.header-user-navigation .login-out:focus {
  opacity: 1;
}

.header-user-navigation .login-out:active {
  opacity: 0.3;
}

.header-user-navigation li:first-child {
  margin-right: auto;
}

.header-user-navigation .login-link::before {
  content: " ";

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 13px;
  height: 12px;
  margin-right: 14px;

  background: url("../img/icons/user.svg") no-repeat;
}

.header-user-navigation .compare::before {
  content: " ";

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background: url("../img/icons/compare.svg") no-repeat;
}

.header-user-navigation .cart::before {
  content: " ";

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-right: 10px;

  background: url("../img/icons/cart.svg") no-repeat;
}

.header-user-navigation a,
.header-site-navigation a {
  color: rgb(0, 0, 0);
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.header-user-navigation a:hover::before,
.header-user-navigation a:focus::before,
.header-site-navigation a:hover,
.header-site-navigation a:focus {
  opacity: 0.6;
}

.header-user-navigation a:active,
.header-user-navigation a:active::before,
.header-site-navigation a:active {
  opacity: 0.3;
}

.header-site-navigation {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header-site-navigation > div {
  width: 50%;
}

.header-site-navigation div:first-child {
  margin-right: 40px;
}

.header-site-navigation div:first-child > a {
  position: relative;
}

.header-site-navigation div:first-child > a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -28px;

  display: table;
  width: 16px;
  height: 16px;

  background-image: url("../img/icons/plus.svg");
  background-size: cover;
  opacity: 0.3;
}

.header-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-services li:nth-child(2) {
  margin-right: 72px;
}

.header-site-navigation a {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-site-navigation .site-navigation-column1 {
  position: relative;
}

.hidden {
  visibility: hidden;
}

.site-navigation-column1:hover .hidden {
  visibility: visible;
}

.header-catalog {
  position: absolute;
  bottom: -161px;
  left: -60px;
  z-index: 3;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  height: 160px;
  margin: 0;
  padding-top: 20px;
  padding-left: 60px;

  list-style: none;

  background-color: rgb(247, 226, 150);
}

.header-catalog li {
  margin: 0;
  margin-right: 60px;
  margin-bottom: 2px;
  padding: 0;
}

.wrap-line {
  opacity: 0;

  pointer-events: none;
}

.header-catalog a {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: 100;
  font-size: 15px;
  line-height: 36px;
  font-family: "open_sans", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: 0.01em;
}

.main-section {
  margin-top: -112px;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;

  color: rgb(70, 70, 70);
}

.product-slider {
  position: relative;

  min-height: 486px;
  margin: 0;
  margin-bottom: 105px;
  padding: 0;
}

.product-slider input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
}

.product-slider::before {
  content: " ";
  position: absolute;
  top: 38px;
  left: 600px;
  z-index: 1;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/icons/rect1.svg");
}

.slider-navigation {
  position: absolute;
  right: 82px;
  bottom: 145px;
  z-index: 3;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 78px;

  font-size: 0;
}

.radio-control {
  width: 10px;
  height: 10px;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.product-slider input#slide-1:checked ~ div label[for="slide-1"]::before {
  content: "";
  position: relative;
  top: 30%;
  left: 30%;

  display: block;
  width: 20%;
  height: 20%;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.product-slider input#slide-2:checked ~ div label[for="slide-2"]::before {
  content: "";
  position: relative;
  top: 30%;
  left: 30%;

  display: block;
  width: 20%;
  height: 20%;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.product-slider input#slide-3:checked ~ div label[for="slide-3"]::before {
  content: "";
  position: relative;
  top: 30%;
  left: 30%;

  display: block;
  width: 20%;
  height: 20%;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.product-slider input#slide-1:checked:focus ~ div label:nth-of-type(1) {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.product-slider input#slide-2:checked:focus ~ div label:nth-of-type(2) {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}
.product-slider input#slide-3:checked:focus ~ div label:nth-of-type(3) {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.slider-list {
  margin: 0;
  margin-top: -30px;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tracker img {
  margin-left: 16px;
}

.copter img {
  margin-top: -20px;
  margin-left: 25px;
}
.product-slider input#slide-1:checked ~ ul .monopod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-slider input#slide-2:checked ~ ul .tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-slider input#slide-3:checked ~ ul .copter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 560px;
}

.product-description {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 560px;
  min-height: 486px;
}

.product-description::after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 1;

  height: 130px;

  background-repeat: no-repeat;
}

.monopod .product-description::after {
  width: 166px;

  background-image: url("../img/icons/01.svg");
}

.tracker .product-description::after {
  width: 198px;

  background-image: url("../img/icons/02.svg");
}

.copter .product-description::after {
  width: 200px;

  background-image: url("../img/icons/03.svg");
}

.slider-item h3 {
  z-index: 2;

  width: 550px;
  min-height: 110px;
  margin-top: 80px;
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.014em;
  word-wrap: break-word;
}

.slider-item p {
  width: 490px;
  margin: 0;
  margin-bottom: 40px;

  word-wrap: break-word;
}

.product-description .link {
  width: 220px;
  margin-bottom: 45px;
}

.product-features {
  display: table;
  margin: 0;
  padding: 0;

  vertical-align: middle;
  text-align: left;

  border: none;
}

.product-features td {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgb(70, 70, 70);
}

.product-features th {
  margin: 0;
  padding: 0;
  padding-right: 75px;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.main-catalog {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.main-catalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 180px;
  padding: 0;
flex-wrap: wrap;
  list-style: none;
}

.main-catalog a {
  color: rgb(0, 0, 0);
}

.main-catalog span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgb(247, 226, 150);
}

.main-catalog .align-end {
  align-items: flex-end;
}

.main-catalog .no-wrap {
  display: block;
}

.catalog-li {
  width: 160px;
}
.catalog-li:not(:nth-of-type(6n)) {
margin-righT: 40px;
}
/* .catalog-li:not(:last-of-type) {
  margin-right: 40px;
} */
/*
.catalog-li span::before {
  content: " ";

  display: table;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-li:first-of-type span::before {
  background-image: url("../img/icons/popular-1.svg");
}

.catalog-li:nth-of-type(2) span::before {
  background-image: url("../img/icons/popular-2.svg");
  background-position: 50% 100%;
}

.catalog-li:nth-of-type(3) span::before {
  background-image: url("../img/icons/popular-3.svg");
}

.catalog-li:nth-of-type(4) span::before {
  background-image: url("../img/icons/popular-4.svg");
}

.catalog-li:nth-of-type(5) span::before {
  background-image: url("../img/icons/popular-5.svg");
}

.catalog-li:nth-of-type(6) span::before {
  background-image: url("../img/icons/popular-6.svg");
}
*/
.catalog-li:active a,
.catalog-li:active .no-wrap,
.catalog-li:active img {
  opacity: 0.3;
}

.catalog-li a:hover span,
.catalog-li a:focus span,
.catalog-li a:active span {
  background-color: rgb(240, 197, 46);
}

.services {
  min-height: 288px;
  margin: 0;
  margin-bottom: 93px;
  padding: 0;
  padding-top: 1px;

  background-color: rgb(229, 229, 229);
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 1160px;
  margin: 0 auto;
  margin-top: -100px;
  padding: 0;
}

.services input {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
}

.service-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 284px;
  min-height: 319px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  padding-top: 80px;

  border-right: 7px solid rgb(0, 0, 0);
}

.service-navigation .link {
  padding: 8px 0;
}

.service-button {
  display: block;
  width: 160px;

  text-align: center;

  background-color: transparent;
  border: none;
}

.service-button:not(:last-of-type) {
  margin-bottom: 25px;
}

.service-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 876px;
  min-height: 319px;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  padding-left: 115px;

  list-style: none;

  background-color: inherit;
}

.service-item {
  display: none;
  min-width: 700px;
}

.service-item h3 {
  position: relative;

  margin: 0;
  margin-top: 73px;
  margin-bottom: 33px;
  padding: 0;

  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.04em;
}

.service-item p {
  width: 440px;
  margin: 0;
  padding: 0;

  letter-spacing: 0.02em;
}

.service-description h3::after {
  content: " ";
  position: absolute;
  right: 65px;
  bottom: -128px;
  z-index: 1;

  display: table;
}

.service-item:nth-of-type(1) h3::after {
  width: 136px;
  height: 164px;

  background-image: url(../img/icons/delivery.svg);
}

.service-item:nth-of-type(2) h3::after {
  width: 170px;
  height: 194px;

  background-image: url(../img/icons/warranty.svg);
}

.service-item:nth-of-type(3) h3::after {
  width: 155px;
  height: 185px;

  background-image: url(../img/icons/credit.svg);
}

.services input#delivery:checked:focus ~ div .link:first-of-type {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.services input#warranty:checked:focus ~ div .link:nth-of-type(2) {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.services input#credit:checked:focus ~ div .link:nth-of-type(3) {
  outline-width: 5px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.services input#delivery:checked ~ div .link:first-of-type {
  color: rgb(247, 225, 132);
}

.services input#delivery:checked ~ div .link:first-of-type::before {
  width: 277px;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.services input#warranty:checked ~ div .link:nth-of-type(2) {
  color: rgb(247, 225, 132);
}

.services input#warranty:checked ~ div .link:nth-of-type(2)::before {
  width: 277px;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.services input#credit:checked ~ div .link:nth-of-type(3) {
  color: rgb(247, 225, 132);
}

.services input#credit:checked ~ div .link:nth-of-type(3)::before {
  width: 277px;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.service-button:active {
  color: rgb(247, 225, 132);
}

.service-button:active::before {
  width: 277px;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.services input#delivery:checked ~ ul li:first-of-type {
  display: block;
}

.services input#warranty:checked ~ ul li:nth-of-type(2) {
  display: block;
}

.services input#credit:checked ~ ul li:nth-of-type(3) {
  display: block;
}

.brands {
  margin-bottom: 87px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.brandlist-item:not(:last-child) {
  margin-right: 40px;
}

.brandlist-item {
  position: relative;
}

.dji:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  width: 260px;
  height: 100px;

  background-image: url("../img/content/logo-1-hover.png");
}

.spgadgets:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  width: 260px;
  height: 100px;

  background-image: url("../img/content/logo-2-hover.png");
}

.gopro:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  width: 260px;
  height: 100px;

  background-image: url("../img/content/logo-3-hover.png");
}

.vive:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  width: 260px;
  height: 100px;

  background-image: url("../img/content/logo-4-hover.png");
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 102px;
}

.info-contacts .link {
  width: 260px;

  cursor: pointer;
}

.info-contacts .link {
  background-color: transparent;
  border: none;
}

.info,
.contacts {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 550px;

  letter-spacing: 0;
}

.info {
  width: 600px;
}

.contacts {
  width: 560px;
}

.info h3,
.contacts h3 {
  position: relative;

  margin-top: 50px;
  margin-bottom: 28px;

  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0;
}

.info h3::before,
.contacts h3::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;

  display: table;
  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.info p {
  max-width: 475px;
}

.contacts p {
  max-width: 560px;
}

.couriers {
  margin: 50px 0 0 20px;
  padding: 0;

  list-style: circle;
}

.couriers a {
  margin-left: 15px;

  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.info-contacts .thumb {
  margin-top: 25px;
}

.info-contacts .link {
  position: absolute;
  bottom: -23px;
}

.contacts .mapping {
  padding: 0;

  cursor: pointer;
}

.main-footer {
  display: block;
  width: 100%;

  background-color: rgb(70, 70, 70);
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1160px;
  min-height: 323px;
  margin: 0 auto;
  padding: 62px 0;

  font-size: 15px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.01em;

  background-color: inherit;
}

.footer-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation a {
  color: rgb(255, 255, 255);
}

.footer-navigation .footer-logo:hover,
.footer-navigation .footer-logo:focus {
  opacity: 0.6;
}

.footer-navigation .footer-logo:active {
  opacity: 0.3;
}

.footer-navigation .footer-user-navigation {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.footer-user-navigation > li {
  width: 50%;
}

.footer-user-navigation ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-user-navigation li:not(:first-child):not(.login-out) {
  margin-left: 40px;
}

.footer-user-navigation .login-link {
  margin-right: 4px;
}

.footer-user-navigation svg {
  margin-right: 6px;

  fill: rgb(240, 197, 46);
}

.login-link svg:first-child {
  margin-right: 8px;
}

.login-link + .login-out {
  margin-right: 3px;
  margin-left: 15px;

  opacity: 0.3;
}

.footer-user-navigation .login-out:hover,
.footer-user-navigation .login-out:focus {
  opacity: 1;
}

.footer-user-navigation .login-out:active {
  opacity: 0.3;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: rgb(255, 255, 255);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}


.footer-icon:hover svg,
.footer-icon:focus svg {
  opacity: 0.6;
}

.footer-icon:active svg {
  opacity: 0.3;
}

.site-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation-wrapper.social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 58px;
}

.site-navigation-wrapper  p {
  margin: 0;
  padding: 0;
}

.address,
.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  height: 20px;

  letter-spacing: 0;
}

.footer-phone {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-site-navigation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 440px;
}

.footer-site-navigation li:not(:last-child) {
  margin-right: 33px;
}

.footer-site-navigation a {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-rect {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.footer-social {
  flex-wrap: wrap;
  max-width: 440px;
}

.footer-social li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  margin-right: 23px;
  margin-bottom: 10px;
  padding: 0;
}

.footer-social-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;

  opacity: 0.3;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  opacity: 0.6;
}

.footer-social-item a:active {
  opacity: 0.1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 60px;
  height: 35px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -700%);
            transform: translate(-50%, -700%);
  }

  50% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  80% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -700%);
            transform: translate(-50%, -700%);
  }

  50% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  80% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;

  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.write-us {
  display: none;
  min-height: 553px;
  padding: 95px 100px;

  background-color: rgb(255, 255, 255);
}

.map {
  display: none;
  height: 560px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.write-item {
  width: 360px;
}


.write-item input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
}

.textarea-item {
  width: 760px;
}

.write-item input[placeholder],
.textarea-item textarea[placeholder] {
  font-weight: 300;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

.textarea-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  padding: 15px 20px;

  resize: vertical;
}

.map img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;

  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
}

.modal .close:active {
  opacity: 0.3;
}

.modal label {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.modal input,
.modal textarea {
  color: rgba(70, 70, 70, 0.4);

  background-color: rgb(242, 242, 242);
  border: none;
}

.modal input:hover,
.modal textarea:hover {
  background-color: rgb(234, 234, 234);
}

.modal input:focus,
.modal textarea:focus {
  padding: 13px 18px;

  color: rgb(70, 70, 70);

  background-color: transparent;
  border: 2px solid rgb(247, 226, 150);
  outline: none;
}

.modal input:focus:invalid,
.modal textarea:focus:invalid {
  background-color: rgb(246, 218, 218);
  border: none;
}

.modal .link {
  width: 200px;

  background-color: transparent;
  border: none;
}

.inner-page .header-navigation {
  min-height: 186px;
  margin-bottom: 38px;
}

.inner-page main {
  margin-top: 0;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.01em;
}

.wrapper h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  margin: 0;

  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.inner-page .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  margin-right: 38px;

  vertical-align: middle;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumbs span {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.014em;
  letter-spacing: 0.01em;
}

.breadcrumbs a {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.014em;
  letter-spacing: 0.01em;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.inner-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
}

.inner-page .wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-image: -webkit-gradient(linear, left top, right top, from(rgb(220, 220, 220)), color-stop(50%, rgb(220, 220, 220)), color-stop(50%, rgb(235, 235, 235)), to(rgb(235, 235, 235))),
  -webkit-gradient(linear, left top, right top, from(rgb(238, 238, 238)), color-stop(50%, rgb(238, 238, 238)), color-stop(50%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(left, rgb(220, 220, 220), rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235)),
  -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255));
  background-image:      -o-linear-gradient(left, rgb(220, 220, 220), rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235)),
  -o-linear-gradient(left, rgb(238, 238, 238), rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255));
  background-image:         linear-gradient(to right, rgb(220, 220, 220), rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235)),
  linear-gradient(to right, rgb(238, 238, 238), rgb(238, 238, 238) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255));
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 70px, 100% 100%;
}


.inner-page .filters {
  width: 270px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  border: none;
}

.filters form {
  margin-top: 70px;
}

.filters legend {
  width: 200px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 12px;

  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.01em;

  border-top: 2px solid rgb(0, 0, 0);
}

.range-lifter {
  width: 200px;
  margin-top: 12px;
}

.range-controls {
  position: relative;
}

.range-lifter .scale {
  width: 100%;
  height: 2px;

  background-color: rgb(219, 219, 219);
}

.range-lifter .bar {
  width: 60%;
  height: 100%;

  background-color: rgb(145, 201, 47);
}

.range-lifter .toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
          box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
  cursor: pointer;
}

.toggle-min {
  left: -5px;
}

.toggle-max {
  right: 36%;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  font-size: 0;
}

.price-controls label {
  font-weight: 100;
  font-size: 14px;
  line-height: 40px;
  font-family: "open_sans", "Arial", sans-serif;

  opacity: 0.2;
}

.min-price {
  margin-right: 63px;
}

.color  legend {
  margin-bottom: 18px;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.filter-item input {
  position: absolute;
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
}

.filter-item label {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 38px;

  font-weight: 100;
  font-size: 14px;
  line-height: 40px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.014em;
  letter-spacing: 0.01em;
}

.filter-item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: calc(50% - 11px);
  left: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-item input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-item input:focus + label::before,
.filter-item input:focus + label::after,
.filter-item label:hover::before,
.filter-item label:focus::before {
  opacity: 0.6;
}

.filter-item label:active::before {
  opacity: 1;
}

.filter-item input:checked + label:hover::after,
.filter-item input:checked + label:focus::after {
  opacity: 0.6;
}

.filter-item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;

  display: inline-block;
  width: 16px;
  height: 16px;

  vertical-align: middle;

  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  transform: translateY(-55%);
}

.filter-item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;

  width: 9px;
  height: 9px;

  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: translate(70%, -65%);
}

.filter-item input[type="radio"]:checked + label:active::after {
  display: none;
}

.filter-item input[type="radio"] + label:active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;

  width: 9px;
  height: 9px;

  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: translate(70%, -65%);
}

.filter-item input:disabled + label,
.filter-item input:disabled + label::after,
.filter-item input:disabled + label::before {
  opacity: 0.25;

  pointer-events: none;
}

.inner-page h2 {
  margin: 0;
  padding: 23px 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3.8px;
}

.wrapper button {
  width: 200px;

  background-color: transparent;
  border: none;
}

.inner-page .catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 830px;
  margin: 0;
  padding: 0;

  background-color: rgb(255, 255, 255);
}

.inner-page .sortings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  min-height: 70px;
  margin-bottom: 70px;
  padding-left: 70px;

  background-color: rgb(235, 235, 235);
}

.sortings ul {
  margin: 0;
  padding: 0;

  list-style: none;

  border: none;
}

.sortings h2 {
  margin-right: 50px;
}

.inner-page .sort-type,
.inner-page .sort-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sortings .sort-order {
  flex-wrap: nowrap;
  min-width: 45px;
  margin-left: auto;
}

.sort-type li:not(:last-child) {
  margin-right: 30px;
}

.sort-type a {
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  font-family: "open_sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: none;
  letter-spacing: 0.015em;

  opacity: 0.3;
}

.sort-order {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40px;
}

.sort-order a {
  font-size: 0;

  opacity: 0.3;
}

.sortings .sorted {
  opacity: 1;
}

.sort-order a:hover,
.sort-order a:focus,
.sort-type a:hover,
.sort-type a:focus {
  opacity: 0.6;
}

.sort-order a:active,
.sort-order a:visited,
.sort-type a:active,
.sort-type a:visited {
  opacity: 1;
}
/*
.inner-page ul {
  margin: 0;
  padding: 0;

  list-style: none;

  border: none;
} */

.inner-catalog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 70px;
}

.inner-catalog .catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
}

.new {
  position: relative;
}

.new::after {
  content: "New";
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;

  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.7px;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.catalog-item h3 {
  max-width: 260px;

  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  letter-spacing: 0.2px;
}

.catalog-item a {
  display: block;
  width: 260px;

  color: rgb(0, 0, 0);
  word-wrap: normal;
}

.catalog-item .no-wrap {
  display: block;
}

.catalog-item .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 28px;
}

.catalog-item:last-child .prices {
  margin-bottom: 15px;
}

.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(70, 70, 70);
  letter-spacing: 0.2px;
}

.catalog-item-image {
  position: relative;

  max-width: 360px;
  max-height: 380px;
  margin: 0;
  padding: 0;
}

.item-hover {
  position: absolute;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.5);
  opacity: 0;
}

.item-hover .link {
  margin-top: 50%;
  margin-bottom: 15px;
}

.item-hover .link:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-hover:hover {
  opacity: 1;
}
.item-hover button {
  cursor: pointer;
}

.item-hover button:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.item-hover button:last-child:hover,
.item-hover button:last-child:focus {
  color: rgba(0, 0, 0, 1);
}

.item-hover button:last-child:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin-bottom: 77px;

  background-color: rgb(235, 235, 235);
}

.pagination-list a {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  font-family: "gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}

.pagination-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list > a {
  display: inline-block;
  padding: 23px 25px 23px 30px;

  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-list > a:first-of-type {
  margin-right: auto;
}

.pagination-list > a:last-of-type {
  margin-left: auto;
}

.pagination-list > a:hover,
.pagination-list > a:focus {
  background-color: rgb(217, 217, 217);
}

.pagination-list > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a {
  display: inline-block;
  padding: 28px 13px 26px 18px;

  vertical-align: middle;

  opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.5;
}

.pagination-item a:active {
  opacity: 1;
}

.current-page a {
  opacity: 1;
}
