@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroylight.woff2") format('woff2'),
       url("../fonts/gilroylight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/opensanslight.woff2") format('woff2'),
       url("../fonts/opensanslight.woff2") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensans.woff2") format('woff2'),
       url("../fonts/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: rgb(240, 197, 46);

/* пока не додумалась как сделать эту полосу фоном */
  }

/* Стили хедера */
.main-header {

}

.header-logo {
  width: 163px;
  height: 35px;
  display: block;
  margin-bottom: 30px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-navigation {
  width: 1160px;
  margin: 40px auto 0;
  min-height: 300px;
  box-sizing: border-box;
  padding: 0 60px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);

  background-color: rgb(247, 226, 150);
}

.search-navigation {
  display: flex;
}

.search-navigation input[type="search"] {
  width: 360px;
  color: rgba(0, 0, 0, 0.3);
  background: transparent;
  border: none;
  text-indent: 40px;
}

.search-navigation input[type="search"]:hover {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.search-navigation input[type="search"]:focus {
  color: rgb(0, 0, 0);
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.search-navigation input[type="search"]::before {
  content: " ";
  display: block;

  width: 16px;
  height: 16px;
  background: url("../img/icons/search.svg") no-repeat;

  /* Селектор по инпуту не работает! Я могу иконку вставить на кнопку с большим отсутпом,   но почему-то иконку на инпут не выбирает селектор*/
}

.search-navigation button {
  width: 80px;
  height: 35px;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}
/* кнопке прописать состояния */

.first-line-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-user-navigation {
  width: 500px;
}

.header-user-navigation,
.header-site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}


.header-user-navigation li:nth-child(2){
  margin-left: 140px;
}
/* Другого способа как сделать этот отступ я не придумала  */

.login-link::before {
  content: " ";
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url("../img/icons/user.svg") no-repeat;
  margin-right: 10px;
}

.header-user-navigation li:nth-child(2)::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/icons/compare.svg") no-repeat;
  margin-right: 10px;
}

.header-user-navigation li:nth-child(3)::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/cart.svg") no-repeat;
  margin-right: 10px;
}

.header-user-navigation a:hover .header-user-navigation li::before {
  opacity: 0.5;
}
/* не могу подобрать правильно селектор чтоб работало изменение интерактивных состояний*/

.header-user-navigation a,
.header-site-navigation a {
  color: rgb(0, 0, 0);
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.header-site-navigation a:hover,
.header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-navigation a:active,
.header-user-navigation a:visited,
.header-site-navigation a:active,
.header-site-navigation a:visited,{
  color: rgba(0, 0, 0, 0.3);
}

.header-site-navigation {
  margin-top: 50px;
  align-items: baseline;
}

.header-site-navigation li:first-child {
  margin-right: 140px;
}
/*наверняка выравниванеи всех элементов по центральной оси должно быть не как у меня отступами элементов,
 но как это автоматизировать? разбить хедер на колонки вместо деления по горизонтали на блоки? */

.header-site-navigation a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-site-navigation a:hover,
.header-site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-site-navigation a:active,
.header-site-navigation a:visited {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog {
  max-height: 130px;
  padding: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  list-style: none;

  background-color: rgb(247, 226, 150);
}
/* как разделить выпадающее меню на 3 столбца? */

.header-catalog a {
  font-family: "open_sanslight";
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}


/* основная часть main*/
.container {
  width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;

  color: rgb(70, 70, 70);
}

/* Стили main slider*/

.product-slider {
  overflow: hidden;
  margin-bottom: 105px;
}

.slider-navigation,
.slider-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.slider-navigation {
  position: absolute;
  right: 350px;
  top: 620px;
}

.slider-button button {
    padding: 6px;
    margin-right: 20px;

    font-size: 0px;
    color: red;

    background: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius:50%;
    box-shadow: none;
    outline: none;
  }

  .slider-list {
    width: 300%;
  }

.slider-item {
  display: flex;
  width: 33,3333%;
  padding-left: 90px;
}

.slider-item h3 {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}

.slider-item p {
  margin: 0;
}
.product-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.monopod .product-description {
  margin-left: 120px;
}

.tracker .product-description {
  margin-left: 160px;
}

.copter .product-description {
  margin-left: 20px;
}

/* как сделать выравнивание по середине поля без присваивания оступа каждому отедльному элементу?
вопрос актуален и для хедера - не могу понять как сделть ровнение посередине  */
.product-features {
  display: table;
  border: none;
  border-collapse: separate;
  text-align: left;
  vertical-align: middle;
}

.product-features td {
  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(70, 70, 70);
  padding-right: 75px;

}
.product-features th {
  font-family: "gilroylight", "Arial", sans-serif;
  font-size:  36px;
  font-weight: 300;
  line-height: 48px;
  color: rgb(0, 0, 0);

}

/* Стили Каталога в main  */

.catalog {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 80px;
}

.catalog li:not(:last-child) {
  margin-right: 40px;
}

.catalog a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.catalog li::before {
  content:" ";
  display: table;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;

  background-color: rgb(247, 226, 150);
}

.catalog li:nth-child(1)::before {
  background-image: url("../img/icons/popular-1.svg") no-repeat;
  /* почему не вставляет картинку фоном, если селектор работает */
  background-color: blue;
}

.catalog li:nth-child(2)::before {
  background-image: url("../img/icons/popular-2.svg") no-repeat;
}

.catalog li:nth-child(3)::before {
  background-image: url("../img/icons/popular-3.svg") no-repeat;
}


.catalog li:nth-child(4)::before {
  background-image: url("../img/icons/popular-4.svg") no-repeat;
}


.catalog li:nth-child(5)::before {
  background-image: url("../img/icons/popular-5.svg") no-repeat;
}

.catalog li:nth-child(6)::before {
  background-image: url("../img/icons/popular-6.svg") no-repeat;
}

.catalog a:hover .catalog li::before {
  background-color: rgb(240, 197, 46);
}
/* как сделать интерактивность , не выходит подобрать селектор */

/* Стилизация второго слайдера - сервисов */
.services {
  background-color: rgb(229, 229, 229);
  margin-bottom: 100px;
}

.services .container {
  display: flex;
}
/* как сделать чтоб сьехал фон(по аналогии с логотипом в хедере и с элементами артикла (слайдер) */
.service-navigation,
.service-description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-navigation {
  min-width: 280px;
  height: 320px;
  border-right: 7px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-navigation li:not(:last-child) {
  margin-bottom: 30px;
}

.service-button  button{
  text-align: center;
  width: 278px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
}

.service-description {
  display: flex;
}

.service-description h3 {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: rgb(0, 0, 0);
  }

.service-item {
  margin-left: 115px;
}

/* понять эту микросетку и не забыть про псевдоэлементы и активные состояния */


/* стилизация партнеров */
.brands {
  margin-bottom: 100px;
}
.brands-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}
/* не подходит выравнивание - попробуй перенести центровщик, потому что все виды justify я испробовала */

.brandlist-item a {
  filter: grayscale(100%) opacity(0.2);
}

.brandlist-item a:hover,
.brandlist-item a:focus {
  filter: none;
}

.info-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.info,
.contacts {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.info h2,
.contacts h2 {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: rgb(0, 0, 0);
  }

.couriers a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: rgb(0, 0, 0);
 }

.half-width {
  width: 50%;
}

/* стилизация футера */

.main-footer {
  background-color: rgb(70, 70, 70);
}

.footer-logo img {
  fill: rgb(240, 197, 46);
}
/* как перезалить цвет у svg через сss???? */

.footer-navigation {
  color: rgb(255, 255, 255);
  width: 1160px;
  min-height: 323px;

  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
.footer-navigation > * {
  border: red solid 1px;
}
/* не могу понять почему нижняя строка с соцсетями на 150 пикселей высотой!!!!они же не прописаны  */
.footer-navigation a {
  color: rgb(255, 255, 255);
}

.footer-navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin:0;
}
.footer-user-navigation {
  justify-content: space-between;
}

.footer-user-navigation li:not(:first-child){
  margin-left: 65px;
}

.footer-user-navigation a{
  color: rgba(255, 255, 255, 0.7);

}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus{
  color: rgb(255, 255, 255);
}

.footer-user-navigation a:active,
.footer-user-navigation a:visited {
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-navigation-wrapper p{
  margin: 0;
}

.footer-site-navigation li{
  margin-right: 40px;
}

.footer-site-navigation a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active,
.footer-site-navigation a:visited {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social li {
  margin-right: 20px;}

.footer-social-item a {
  opacity: 0.3;
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  opacity: 0.6;
}

.footer-social-item a:active,
.footer-social-item a:visited {
  opacity: 0.1;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active,
.footer-copyright a:visited {
  opacity: 0.3;
}

/* модальные окна */
.modal {
  width: 960px;
  box-shadow: 0 8px 20px 0 rgb(181, 181, 181);
}
.modal label{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0);

}
.modal input,
.modal textarea{
  border:none;
  background-color: rgb(242, 242, 242);
}
.write-us {
  height: 553px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.map {
  height: 559px;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  }

